body {
    font-family: Arial, sans-serif;
    background: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.neomorph {
    background: #e0e0e0;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; /* Ajoute de l'espace entre les éléments */
    text-align: center; /* Centre le texte à l'intérieur */
}

h1, p, button {
    color: #333;
}